fastapi
uvicorn[standard]

groq
edge-tts

requests
aiohttp

moviepy
ffmpeg-python
pillow
openai
huggingface_hub
openai-whisper

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

mutagen
python-dotenv
python-multipart
aiofiles

sqlalchemy
aiosqlite

pydantic
pydantic-settings

redis
celery

tqdm